step-functions.yml
stateMachines:
  process-payment:
    id: ProcessPayment
    name: process-payment
    definition:
      StartAt: SendToQueue
      TimeoutSeconds: 604800
      States:
        SendToQueue:
          Type: Task
          Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
          Parameters:
            QueueUrl: ${construct:processPayment.queueUrl}
            MessageGroupId: 'payment'
            MessageBody:
              order.$: $.order
              token.$: $$.Task.Token

          ResultPath: $.paymentResult
          Catch:
            - ErrorEquals:
                - States.ALL
              Next: Failed
          Next: FulfillOrder

        FulfillOrder:
          Type: Task
          Resource: arn:aws:states:::lambda:invoke
          Parameters:
            FunctionName: ${self:service}-${sls:stage}-fulfillOrder
            Payload.$: $
          ResultSelector:
            fulfilment.$: $.Payload
          ResultPath: $.result
          Next: Finish

        Finish:
          Type: Succeed

        Failed:
          Type: Fail
